@{
    ViewData["Title"] = "PlanStock - Delightful Events";
}

<div class="hero-section">
    <div class="hero-text-content">
        <p class="hero-brand-small">PlanStock</p>
        <h1>
            Delightful<br>events<br>
            <span class="text-gradient">start here.</span>
        </h1>
        <p class="hero-description">
            Set up an event page, invite friends and
            sell tickets. Host a memorable event
            today.
        </p>
        <a class="cta-button" asp-controller="Createevent" asp-action="Index">Create Your First Event</a>
    </div>
    <div class="hero-image-content">
        <div class="hero-video-wrapper">
            <video loop muted playsinline autoplay class="hero-video-player">
                <source src="https://cdn.lu.ma/landing/phone-dark.mp4" type="video/mp4;codecs=hvc1">
                <source src="https://cdn.lu.ma/landing/phone-dark.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>